@model IEnumerable<Home.Models.OrderInfo>
@{
    ViewBag.Title = "订单";
    Layout = "~/Views/Shared/ParentView.cshtml";
    List<object> sourse = ViewBag.att;
}

<h2>订单</h2>
<div style="margin-top:70px;margin-left:300px">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th>编号</th>
                <th>订单号</th>
                <th>收货人</th>
                <th>联系方式</th>
                <th>收货地址</th>
                <th>购物车</th>
                <th>商品名称</th>
                <th>订单状态</th>
                <th>创建时间</th>
            </tr>
        </thead>
        @if (sourse != null)
        {
            foreach (dynamic item in sourse)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.OrderNum</td>
                    <td>@item.OTGName</td>
                    <td>@item.OTGPhone</td>
                    <td>@item.OTGAddress</td>
                    <td>@item.SCID</td>
                    <td>@item.OGoodName</td>
                    <td>@if (item.OrderState==1)
                    {
                        @:待付款
                    }
                    else if(item.OrderState==2)
                    {
                        @:已付款
                    }
                    else if(item.OrderState==3)
                    {
                        @:已发货
                    }
                    else if(item.OrderState==4)
                    {
                        @:已接收
                    }
                    else if(item.OrderState==5)
                    {
                        @:已退款
                    }
                    else if(item.OrderState==0)
                    {
                        @:已删除
                    }
                    </td>
                    <td>@item.OrderCreateTime</td>
                </tr>
            }
        }
    </table>
</div>
