@model IEnumerable<Home.Models.GoodsInfo>
@{
    ViewBag.Title = "GoodsIndex";
    Layout = "~/Views/Shared/ParentView.cshtml";
}

<h2>GoodsIndex</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.GoodPhotoPath" alt="" /></td>
            <td>@item.GoodName</td>
            <td>@item.GoodSellSum</td>
            <td>@item.GoodSum</td>
            <td>@item.GoodPrice</td>
            <td>@item.GoodState</td>
            <td>@item.GoodCreateTime</td>
        </tr>
    }
</table>
