@model IEnumerable<Home.Models.Courier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ParentView.cshtml";
    List<object> sourse = ViewBag.att;
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>发货单号</th>
            <th>货物信息</th>
            <th>收货人</th>
            <th>联系方式</th>
            <th>收货地址</th>
        </tr>
    </thead>
    @foreach (dynamic item in sourse)
    {
    <tr>
        <td>@item.CourierId</td>
        <td>@item.CourierNum</td>
        <td>@item.OrderId</td>
        <td>@item.OTGName</td>
        <td>@item.OTGPhone</td>
        <td>@item.OTGAddress</td>
        <td>@item.OrderNum</td>
        <td>@item.OGoodName</td>
        <td>@item.GoodTypeName</td>
        <td>@item.GoodPhotoPath</td>
    </tr>
    }
</table>
